# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
# Build
build/
**/GeneratedPluginRegistrant.*
# IDE
.vscode/
.idea/
*.iml
# Android/iOS
**/local.properties
**/Pods/
**/gradle-wrapper.jar
